@media screen and (max-width: 1199px) {
    .casinos-italy {
        background: none;
    }
}

@media screen and (max-width: 991px) {

    .nav-toggler {
        display: block;
    }

    .site-navbar {
        min-height: 60px;

        ul {
            position: absolute;
            width: 100%;
            height: calc(100vh - 60px);
            left: 0;
            top: 94px;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            max-height: 0;
            overflow: hidden;
            transition: .3s;
            z-index: 999;

            li {
                width: 100%;
                text-align: center;

                a {
                    padding: 25px;
                    color: $colo-sticky;


                }
            }
        }
    }

    ul.open {
        max-height: 100vh;
        overflow: visible;
    }

    .casinos-italy .casinos-italy-wrapper .row .col-lg-6:nth-child(2),
    .casinos-italy .casinos-italy-wrapper .row .col-lg-6:nth-child(3) {
        margin-top: 30px;
    }

    .casinos-italy .casinos-italy-wrapper {
        padding: 42px 0 0 0;
    }

    .casinos-italy {
        top: 0px;
        margin-bottom: 0px;
        z-index: 1;
        padding: 0;
    }

    section.scommesses-wrapper .scommesses-inner .game-inner-text {
        height: auto;
        margin: 20px;
    }

    footer .footer-menu h3 {
        margin: 16px 0;
    }

    .contact-item.text-center {
        margin-bottom: 40px;
    }

    section.contact-wrapepr .contact-wrapepr-inner .row {
        flex-direction: column-reverse;

    }
    section.banner-sectio .bnr-text p {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    section.contact-wrapepr .form-wrapper .form_div {
        display: flex;
        flex-direction: column;
    }

    section.contact-wrapepr {
        padding: 80px 0 0;
    }

}


@media screen and (max-width: 575px) {
    .mobile-table{
        display: block;
    }
}